<!DOCTYPE html>
<html lang="en">
<head>
	<link rel = "stylesheet" href = "css1.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vector Model</title>
</head>
<body style="text-align:center;padding-top:12%;">
    <form method="POST" action="http://127.0.0.1:5000/" style="text-align:center;">
        <h1 style ="color:red">Search</h1>
        <input type="text" name='btn' placeholder="Enter your keyword here" size=60px; padding=8px;>
        <input type="submit">
    </form>
	<h2 style ="color:blue">Don't Forget Generate Files</h2> 

    <a href="http://127.0.0.1:5000/create">
        <input type="button" value="Generate">
    </a>

</body>
</html>